:root {
  --main-og-color: #FDC50D;
  --secondary-og-color: #3B3C3D;
  --tertiary-og-color: #2B44FF;  
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

.occasiongenius-parent-container {
  font-family: 'Roboto', sans-serif;
}

.occasiongenius_clear {
  clear: both;
}

.return_to_all_events {
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: block;
  margin-bottom: 5px;  
}

.occasiongenius-container {
  /* grid-gap: 15px;
  display: grid;
  grid-template-columns: 24% 24% 24% 24%; */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;  
} 

.occasiongenius-container:after {
  /* content: "";
  display: table;
  clear: both; */
}

.occasiongenius-single-item {
  /* margin-bottom: 30px; */
}

.occasiongenius-tile {
  position: relative;
  border: 2px solid #ececec;
  border-radius: 25px;
  overflow: hidden;
}

.occasiongenius-tile:nth-child(1){
  grid-column: span 4;
  grid-row: span 2;
}

.occasiongenius-tile:nth-child(1) .occasiongenius-single_image {
  min-height: 300px;
}

.occasiongenius-tile:nth-child(2),
.occasiongenius-tile:nth-child(3),
.occasiongenius-tile:nth-child(6),
.occasiongenius-tile:nth-child(7),
.occasiongenius-tile:nth-child(8){
  grid-column: span 2;
}

.occasiongenius-tile:nth-child(2) .occasiongenius-single_image,
.occasiongenius-tile:nth-child(3) .occasiongenius-single_image,
.occasiongenius-tile:nth-child(6) .occasiongenius-single_image,
.occasiongenius-tile:nth-child(7) .occasiongenius-single_image,
.occasiongenius-tile:nth-child(8) .occasiongenius-single_image {
  min-height: 225px;
}

.occasiongenius-tile:nth-child(4),
.occasiongenius-tile:nth-child(5),
.occasiongenius-tile:nth-child(9),
.occasiongenius-tile:nth-child(10),
.occasiongenius-tile:nth-child(11),
.occasiongenius-tile:nth-child(12){
  grid-column: span 3;
}

.occasiongenius-tile:nth-child(4) .occasiongenius-single_image,
.occasiongenius-tile:nth-child(5) .occasiongenius-single_image,
.occasiongenius-tile:nth-child(9) .occasiongenius-single_image,
.occasiongenius-tile:nth-child(10) .occasiongenius-single_image,
.occasiongenius-tile:nth-child(11) .occasiongenius-single_image,
.occasiongenius-tile:nth-child(12) .occasiongenius-single_image{
  min-height: 225px;
}

.occasiongenius-single_image {
  width: 100%;
  height: 100%;
  background-size: cover;
  /* border-radius: 25px; */
}

.occasiongenius-single_image img {
  display: none;
}

.occasiongenius-single_title {
  display: block;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 7px;
  margin-top: 10px;
}

.occasiongenius-single_location {
  display: block;
  font-size: 14px;
}

.occasiongenius-single_location svg {
  width: 8px;
  margin-right: 4px;
}

.occasiongenius-event-location-left {
  float: left;
  width: 85%;
  text-align: left;
}

.occasiongenius-event-location-right {
  float: left;
  width: 15%;
  height: 100%;
  background-color: var(--main-og-color);
  min-height: 58px;
  padding-top: 10px;
}

.occasiongenius-single_date {
  display: block;
  font-size: 15px;
  color: grey;
}

.occasiongenius-pagination {
  text-align: center;
  margin-top: 25px;
}

.occasiongenius-pagination button {
  background: #FDC50D;
  color: #FFF;
  text-transform: uppercase;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 7px;
  margin-right: 7px;  
}

.occasiongenius-pagination p {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 12px;
}

.occasiongenius-pagination button, .occasiongenius-pagination p {
  display: inline-block !important;
  clear: none;
  float: none;
}

.occassiongenius-loaded {
  text-align: center;
}

.occasiongenius-single-item a * {
  text-decoration: none !important;
}

.occasiongenius-event-location {
  position: absolute;
  bottom: 0px;
  background: #FFF;
  width: 100%;
}

span.occasiongenius-single_date_day, span.occasiongenius-single_date_month {
  color: var(--secondary-og-color);
  display: block;
  line-height: 100%;
}

span.occasiongenius-single_title, span.occasiongenius-single_location {
  padding-left: 15px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
  line-height: 100%; 
}

span.occasiongenius-single_date_day {
  font-weight: bold;
}

span.occasiongenius-single_title {
  color: var(--tertiary-og-color);
}

span.occasiongenius-single_location {
  color: var(--secondary-og-color);
  fill: var(--secondary-og-color);
}

@media only screen and (max-width: 990px) {
  .occasiongenius-container {
    grid-gap: 15px;
    display: grid;
    grid-template-columns: 100%;
  }
}

/* EVENT DETAILS */

.occassiongenius-single-page-image {
  height: 330px;
  background-size: cover !important;
  width: 100%;
  background-position: center center !important;
  border-radius: 25px;
} 

.occassiongenius-single-page-image img {
  display: none;
}

h1.occassiongenius-single-title {
  margin: 0px;
  padding: 0px;
  font-size: 36px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.occassiongenius-single-description {

}

.occassiongenius-single-venue-information {
  border: 1px solid #ededed;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

h4.occassiongenius-single-venue-information-title {
  margin: 0px;
  padding: 0px;
  font-size: 24px;
}

.occassiongenius-single-venue-information address {
  line-height: 150%;
  margin-top: 5px;
}

.occassiongenius-single-times {
  font-size: 14px;
  margin-top: 10px;
}

.occassiongenius-single-venue-get-tickets {
  background: var(--tertiary-og-color);
  padding: 13px;
  display: block;
  width: 200px;
  text-align: center;
  text-decoration: none;
  color: #FFF;
  margin-top: 25px;
}